/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
}

.App {
    font-family: "Open Sans", sans-serif;
}

.color-nav {
}

.body {
    margin-top: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
}

.card {

}

.btn {
}

/*h1, h2, h3, h4, h5 {*/
/*    color: #3AD3CD;*/
/*}*/
